.text-muted{
    font-size: 16pt !important;
}
.modal-body{
    display: flex;
    flex-direction: row;
}
.data{
    padding: 3px;
}
.deskboard-card{
    border-radius: 20px;
    border: none;
}
.col-white{
    color: white !important;
}
.link{
    text-decoration: none !important;
}
.null-data{
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 10px;
    column-gap: 10px;
}
.main-caption{
    line-height: 4rem;
}
@media(max-width:800px){
    .null-data{
        grid-template-columns: 1fr !important;
    }
    .main-caption{
        text-align: center;
    }
}