body{
    overflow: unset !important;
}
th, td{
    border: 1px solid black;
}
.quiz-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    row-gap: 10px;
    column-gap: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}
.ans-box{
    padding-left: 10px;
    /* border-left: 0.5px solid var(--main-color); */
}
.swal2-input{
    text-align: center;
}
.ques-num{
    margin: 2px;
}
.bottom-btn{
    text-align: right;
}

.questions{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}
.quest_content{
    overflow: auto;
}
.question-box{
    grid-row: 1/2;
    grid-column: 1/3;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.quest-body,.ans-box{
    max-width: 900px;
}
.question-btn{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content:center
}
.quiz-info{
    border-bottom: 0.5px solid var(--main-color);
    border-radius: 0px 0px 0px 10px;
    margin-bottom: 10px;
    height: 36px;
    /* overflow: auto; */
}
.quiz-frame{
    margin-top: 30px !important;
    background-color: var(--main-color);
    color: white;
    padding: 9px 30px 13px 10px;
    width: fit-content;
    border-radius: 10px;
    margin-right: 5px;
}
.quest-btn{
    border: 1px solid var(--main-color);
    padding: 5px;
    width: fit-content;
    min-width: 30px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}
.quest-des{
    overflow: auto;
}
.quest-des p{
    width: fit-content !important;
    margin-bottom: 0 !important;
    line-height: 37px !important;
}
.title{
    display: block;
    width: 100%;
    overflow: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
.quest-title{
    display: flex;
    line-height: 37px;
}
.quest-full-score{
    min-width: 120px;
}
.quest-body{
    max-width: 800px;
}
.choice-inp{
    margin-left: 0 !important;
}
.score-box{
    background-color: var(--main-color);
    color: white;
    overflow: auto;
    margin: 5px;
    padding:5px 10px;
    width: fit-content;
    border-radius: 10px;
}
.txt-score{
    width: 100px;
    border-radius: 5px;
    border: none;
}
@media(max-width:1000px){
    .quest-btn,.question-box{
        display: none;
    }
    .quiz-content{
        grid-template-columns: 1fr 1fr !important;
    }
}
@media(max-width:800px){
    .quiz-content{
        grid-template-columns: 1fr !important;
        grid-template-rows: auto auto auto;
    }
    .ans-box{
        padding-left: 0px;
        border-left: none;
    }
}